ㅤ
<b><emoji id="5456140674028019486">⚡️</emoji> Chimera userbot by Ladvix</b>

<b><emoji id="5334544901428229844">🪄</emoji> Доступные команды:</b>

<emoji id="5416117059207572332">▫</emoji> <code>.help { название модуля }</code>
— Список доступных команд бота

<emoji id="5416117059207572332">▫</emoji> <code>.modules</code>
— Список установленных модулей

<emoji id="5416117059207572332">▫</emoji> <code>.install { ссылка github } as { название модуля }</code>
— Установка модуля с GitHub под выбранным названием

<emoji id="5416117059207572332">▫</emoji> <code>.uninstall { название модуля }</code>
— Удаление выбранного модуля

<emoji id="5271604874419647061">🔗</emoji> https://t.me/chimera_ubot
ㅤ