# Python bytecode
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Telegram session files
session.session
session.session-journal

# Credentials and sensitive data
credentials.json

# Modules
/userbot/modules

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
